body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}
#header {
    box-sizing: border-box;
    width: 100%;
    background-color: #2e3267;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: small;
    padding: 0px 5%;
    height: 7%;
    z-index: 20;
}
#links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    color: lightgray;
}
#links a {
    color: lightgray;
    text-decoration: none;
}
#links a:hover{
    color: white;
    cursor: pointer;
}
#links a:nth-child(1) {
    color: white;
}
#body {
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 93%;
    padding: 70px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    overflow-y: scroll;
}
.event {
    width: 30%;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    height: auto;
    box-shadow: 1px 1px 10px 1px rgba(100, 100, 100, .2);
    border-radius: 5px;
}
.event .pic {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: rgba(100, 0, 0, 0.2);
}
.event .pic img {
    width: 100%;
}
.event h2 {
    color: #2e3267;
    line-height: 0px;
    text-transform: capitalize;
}
.event h3 {
    line-height: 0px;
    color: rgb(100, 100, 100);
    font-size: small;
    font-weight: bold;
    padding: 5px 0px 15px 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    text-transform: capitalize;
}
.event p {
    color: gray;
    font-size: 12px;
    text-transform: capitalize;
}
.event u {
    color: #2e3267;
    font-size: small;
    cursor: pointer;
}